<!DOCTYPE html>
<html>
  <head>
    <title>Greendian</title>
    <meta name="viewport" content="width=1024">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="./assets/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <script>
      // Array of words
      var words = ['warming', 'floods', 'carbon footprint'];
      // Function that executes every 2000 milliseconds
      var t = setInterval(function() {
        // Random number generator
        var randomNumber = Math.round( Math.random() * (words.length-1) );
        // Change the word in the span for a random one in the array of words
        $('#changingWord').html( words[ randomNumber ] );
      }, 1000);
    </script>
    <!-- navbar -->
    <%- include ("partials/header") %>

    <!-- Section I -->
    <div class="section">
      <div>
        <h1>Reduce <span id="changingWord"></h1>
      </div>
      <a href="/calculate">
        <button class="btn btn-primary active btn-lg" style="margin-top: 50px;">Get Started!</button>
      </a>
    </div>
    <!-- <a href="/report">
      <button>Go to report</button>
    </a> -->

    <!-- Section II -->
    <div class="section2">
      <div class="row" style="width: 80%">
        <div class="row col-6">
          <img src="./assets/env-1.jpg">
        </div>
        <div class="row col-6">
          <div class="section-text">
            <h2 class="heading-2">Track your carbon footprint.</h2>
            <br />
            <p>Newton taught us that every action has an equal and opposite reaction.<br />
              <strong><br />Track how your daily actions have an impact on Mumbai's annual flooding, Delhi's air pollution, Bangalore's groundwater scarcity and land getting submerged in Kolkata.<br/></strong>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Section III -->
    <div class="section3">
      <div class="row" style="width: 80%">
        <div class="row col-6">
          <img src="./assets/env-2.jpg">
        </div>
        <div class="row col-6">
          <div class="section-text">
            <h2 class="heading-2">We'll help you with the Action Plan!</h2>
            <br />
            <p><strong>You can choose from climate-friendly lifestyle subscriptions like plant-based meat, ridesharing, rooftop solar panels along with offset projects to support.<br /><br />With our personalized action plan, transform your carbon footprint into green steps towards a better India.<br/></strong>
            </p>
            <br />
            <a href="/calculate">
              <button class="btn btn-success btn-lg">Get Started!</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>