<!DOCTYPE html>
<html>
  <head>
    <title>Calculate | Greendian</title>
    <meta name="viewport" content="width=1024">    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="./assets/logo.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <%- include ("partials/header") %>
    <div class="container">
      <h1>Calculate your carbon footprint here.</h1>
      <form action="/results" method="POST" class="form-layout">
        <div class="mb-3 form-group">
          <div class="form-group">
            <label for="familyMembers" class="col-sm-6 col-form-label"
              >Number of members in the house/flat you live. (0 - 5 members, step= 1)</label>
            <input
              type="range"
              class="custom-range col-sm-4"
              min="0"
              max="5"
              step="1"
              name="familyMembers"
              oninput="num1.value = this.value"
            />
            <output id="num1">0</output>
          </div>
          <!-- //gender -->
          <div class="form-group">
            <label for="gender">You are a?</label><br />
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              value="male"
            />
            <label class="form-check-label" for="exampleRadios1">
              Male
            </label>
            <br />
            <input
              class="form-check-input"
              type="radio"
              name="gender"
              value="female"
            />
            <label class="form-check-label" for="exampleRadios2">
              female
            </label>
          </div>
        </div>
        <!-- //Next question -->
        <div class="form-group row mb-3">
          <label for="electricityBill" class="col-sm-6 col-form-label">What was your electricity bill last month? (In rupees)</label>
          <div class="col-sm-4">
            <input class="form-control" name="electricityBill">
          </div>
        <!-- Next question -->
        <div class="form-group">
          <label for="cylinders" class="col-sm-6 col-form-label">Number of cylinders per month? (0 - 5 cylinders, step= 0.5)</label>
          <input
            type="range"
            class="custom-range col-sm-4"
            min="0"
            max="5"
            step="0.5"
            name="cylinders"
            oninput="num2.value = this.value"
          />
          <output id="num2">0</output>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="wasteBags" class="col-sm-6 col-form-label"
            >Daily waste generated Individually(Number of bags of waste) (0 - 5 bags, step = 0.5)</label
          >
          <input
            type="range"
            class="custom-range col-sm-4"
            min="0"
            max="5"
            step="0.5"
            name="wasteBags"
            oninput="num3.value = this.value"
          />
          <output id="num3">0</output>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="travelBike" class="col-sm-6 col-form-label">Average km travelled by bike in a day? (0 - 50 Kilometers, step = 10 km)</label>
          <input
            type="range"
            class="custom-range col-sm-4"
            min="0"
            max="50"
            step="10"
            name="travelBike"
            oninput="num4.value = this.value"
          />
          <output id="num4">0</output>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="travelCar" class="col-sm-6 col-form-label">Average km travelled by car in a day? (0 - 50 Kilometers, step = 10km)</label>
          <input
            type="range"
            class="custom-range col-sm-4"
            min="0"
            max="50"
            step="10"
            name="travelCar"
            oninput="num5.value = this.value"
          />
          <output id="num5">0</output>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="family-members" class="col-sm-6 col-form-label">Is your car CNG powered</label><br />
          <input class="form-check-input" type="radio" name="cng" value="yes" />
          <label class="form-check-label" for="cng">
            yes
          </label>
          <br />
          <input class="form-check-input" type="radio" name="cng" value="no" />
          <label class="form-check-label" for="cng">
            no
          </label>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="travelBus" class="col-sm-6 col-form-label">Average km travelled by bus in a day? (0 - 50 Kilometers, step = 10km)</label>
          <input
            type="range"
            class="custom-range col-sm-4"
            min="0"
            max="50"
            step="10"
            name="travelBus"
            oninput="num6.value = this.value"
          />
          <output id="num6">0</output>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="travelTrain" class="col-sm-6 col-form-label"
            >Average km travelled by train in a YEAR? (0 - 5000 Kilometers, step - 1000km)</label
          >
          <input
            type="range"
            class="custom-range col-sm-4"
            min="0"
            max="5000"
            step="1000"
            name="travelTrain"
            oninput="num7.value = this.value"
          />
          <output id="num7">0</output>
        </div>
        <!-- Next Question -->
        <div class="form-group row mb-3">
          <label for="travelFlightHours" class="col-sm-6 col-form-label">Average flight hours in a year? (in hrs)</label>
          <div class="col-sm-4">
            <input class="form-control" name="travelFlightHours">
          </div>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="vegNonveg" class="col-sm-6 col-form-label">Are you veg or non-veg?</label><br />
          <input
            class="form-check-input col-sm-4"
            type="radio"
            name="vegNonveg"
            value="veg"
          />
          <label class="form-check-label" for="exampleRadios1">
            veg
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="vegNonveg"
            value="nonVeg"
          />
          <label class="form-check-label" for="exampleRadios2" name="vegNonveg" >
            non-veg?
          </label>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="dairyConsumption" class="col-sm-4 col-form-label"
            >How often do you have dairy products? Count each glass of milk,
            scoop of ice cream, bowl of dahi, or sweets. </label
          ><br />
          <input
            class="form-check-input"
            type="radio"
            name="dairyConsumption"
            value="2-3 times a day"
          />
          <label class="form-check-label" for="dairyConsumption1">
            2-3 times a day
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="dairyConsumption"
            value="Everyday"
          />
          <label class="form-check-label" for="dairyConsumption">
            Everyday
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="dairyConsumption"
            value="3-4 times a week"
          />
          <label class="form-check-label" for="dairyConsumption">
            3-4 times a week
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="dairyConsumption"
            value="1-2 times a week"
          />
          <label class="form-check-label" for="dairyConsumption">
            1-2 times a week
          </label>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="family-members" class="col-sm-4 col-form-label"
            >How often do you have meat products?. </label
          ><br />
          <input
            class="form-check-input"
            type="radio"
            name="meatConsumption"
            value="2-3 times a day"
          />
          <label class="form-check-label" for="meatConsumption">
            2-3 times a day
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="meatConsumption"
            value="Everyday"
          />
          <label class="form-check-label" for="meatConsumption">
            Everyday
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="meatConsumption"
            value="3-4 times a week"
          />
          <label class="form-check-label" for="meatConsumption">
            3-4 times a week
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="meatConsumption"
            value="1-2 times a week"
          />
          <label class="form-check-label" for="meatConsumption">
            1-2 times a week
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="meatConsumption"
            value="Never"
          />
          <label class="form-check-label" for="meatConsumption">
            Rarely/Never
          </label>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="clothesBuy" class="col-sm-6 col-form-label">How many clothes you buy in a month? - slider (0-10) [0 - 10 clothes, step = 1]</label
          >
          <input
            type="range"
            class="custom-range col-sm-4"
            min="0"
            max="10"
            step="1"
            name="clothesBuy"
            oninput="num8.value = this.value"
          />
          <output id="num8">0</output>
        </div>
        <!-- Next question -->
        <div class="form-group row mb-3">
          <label for="choose-state" class="col-sm-6 col-form-label">Choose your state.</label>
          <div class="col-sm-4">
            <select name="state" class="form-control" id="choose-state">
              <option>Andhra Pradesh</option>
              <option>Arunachal Pradesh</option>
              <option>Assam</option>
              <option>Bihar</option>
              <option>Chhattisgarh</option>
              <option>Delhi</option>
              <option>Goa</option>
              <option>Gujarat</option>
              <option>Haryana</option>
              <option>Himachal Pradesh</option>
              <option>Jammu and Kashmir</option>
              <option>Jharkhand</option>
              <option>Karnataka</option>
              <option>Kerala</option>
              <option>Madhya Pradesh</option>
              <option>Maharashtra</option>
              <option>Manipur</option>
              <option>Meghalaya</option>
              <option>Mizoram</option>
              <option>Nagaland</option>
              <option>Orissa</option>
              <option>Punjab</option>
              <option>Rajasthan</option>
              <option>Sikkim</option>
              <option>Tamil Nadu</option>
              <option>Tripura</option>
              <option>Uttar Pradesh</option>
              <option>Uttarakhand</option>
              <option>West Bengal</option>
            </select>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="username" class="col-sm-6 col-form-label">Your name</label>
          <br />
          <div class="col-sm-4">
            <input class="form-control" name="username" />
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="username" class="col-sm-6 col-form-label">Your email</label>
          <br />
          <div class="col-sm-4">
            <input class="form-control" name="email" />
          </div>
        </div>
        <div id="submit-button">
          <input type="submit" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </body>
</html>
