<!DOCTYPE html>
<html>
  <head>
    <title>Calculate | Greendian</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="./assets/logo.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <%- include ("partials/header") %>
    <div class="container">
      <h1>Calculate your carbon footprint here.</h1>
      <form action="/results" method="POST">
        <div class="form-group">
          <label for="familyMembers"
            >Number of members in the house/flat you live.</label
          >
          <label for="familyMembers">0 - 5 members, step= 1</label>
          <input
            type="range"
            class="custom-range"
            min="0"
            max="5"
            step="1"
            name="familyMembers"
          />
        </div>
        <!-- //gender -->
        <div class="form-group">
          <label for="gender">You are a?</label><br />
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            value="male"
          />
          <label class="form-check-label" for="exampleRadios1">
            Male
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            value="female"
          />
          <label class="form-check-label" for="exampleRadios2">
            female
          </label>
        </div>
        <!-- //Next question -->
        <div class="form-group">
          <label for="electricityBill"
            >What was your electricity bill last month? (In rupees)</label
          >
          <input class="form-control" name="electricityBill" />
        </div>
        <!-- Next question -->
        <div class="form-group">
          <label for="cylinders">Number of cylinders per month?</label>
          <label for="customRange2">0 - 5 cylinders, step= 0.5</label>
          <input
            type="range"
            class="custom-range"
            min="0"
            max="5"
            step="0.5"
            name="cylinders"
          />
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="wasteBags"
            >Daily waste generated Individually(Number of bags of waste)</label
          >
          <label for="wasteBags">0 - 5 bags, step = 0.5</label>
          <input
            type="range"
            class="custom-range"
            min="0"
            max="5"
            step="0.5"
            name="wasteBags"
          />
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="travelBike">Average km travelled by bike in a day?</label>
          <br />
          <label for="travelBike">0 - 50 Kilometers, step = 10 km</label>
          <input
            type="range"
            class="custom-range"
            min="0"
            max="50"
            step="10"
            name="travelBike"
          />
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="travelCar">Average km travelled by car in a day?</label>
          <br />
          <label for="travelCar">0 - 50 Kilometers, step = 10km</label>
          <input
            type="range"
            class="custom-range"
            min="0"
            max="50"
            step="10"
            name="travelCar"
          />
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="family-members">Is your car CNG powered</label><br />
          <input class="form-check-input" type="radio" name="cng" value="yes" />
          <label class="form-check-label" for="cng">
            yes
          </label>
          <br />
          <input class="form-check-input" type="radio" name="cng" value="no" />
          <label class="form-check-label" for="cng">
            no
          </label>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="travelBus">Average km travelled by bus in a day?</label>
          <br />
          <label for="travelBus">0 - 50 Kilometers, step = 10km</label>
          <input
            type="range"
            class="custom-range"
            min="0"
            max="50"
            step="10"
            name="travelBus"
          />
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="travelTrain"
            >Average km travelled by train in a YEAR?</label
          >
          <br />
          <label for="travelTrain">0 - 5000 Kilometers, step - 1000km</label>
          <input
            type="range"
            class="custom-range"
            min="0"
            max="5000"
            step="1000"
            name="travelTrain"
          />
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="travelFlightHours"
            >Average flight hours in a year? (in hrs)</label
          >
          <input class="form-control" name="travelFlightHours" />
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="vegNonveg">Are you veg or non-veg?</label><br />
          <input
            class="form-check-input"
            type="radio"
            name="vegNonveg"
            value="veg"
          />
          <label class="form-check-label" for="exampleRadios1">
            veg
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="vegNonveg"
            value="nonVeg"
          />
          <label class="form-check-label" for="exampleRadios2" name="vegNonveg">
            non-veg?
          </label>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="dairyConsumption"
            >How often do you have dairy products? Count each glass of milk,
            scoop of ice cream, bowl of dahi, or sweets. </label
          ><br />
          <input
            class="form-check-input"
            type="radio"
            name="dairyConsumption"
            value="2-3 times a day"
          />
          <label class="form-check-label" for="dairyConsumption1">
            2-3 times a day
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="dairyConsumption"
            value="Everyday"
          />
          <label class="form-check-label" for="dairyConsumption">
            Everyday
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="dairyConsumption"
            value="3-4 times a week"
          />
          <label class="form-check-label" for="dairyConsumption">
            3-4 times a week
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="dairyConsumption"
            value="1-2 times a week"
          />
          <label class="form-check-label" for="dairyConsumption">
            1-2 times a week
          </label>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="family-members"
            >How often do you have meat products?. </label
          ><br />
          <input
            class="form-check-input"
            type="radio"
            name="meatConsumption"
            value="2-3 times a day"
          />
          <label class="form-check-label" for="meatConsumption">
            2-3 times a day
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="meatConsumption"
            value="Everyday"
          />
          <label class="form-check-label" for="meatConsumption">
            Everyday
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="meatConsumption"
            value="3-4 times a week"
          />
          <label class="form-check-label" for="meatConsumption">
            3-4 times a week
          </label>
          <br />
          <input
            class="form-check-input"
            type="radio"
            name="meatConsumption"
            value="1-2 times a week"
          />
          <label class="form-check-label" for="meatConsumption">
            1-2 times a week
          </label>
        </div>
        <!-- Next Question -->
        <div class="form-group">
          <label for="clothesBuy"
            >How many clothes you buy in a month? - slider (0-10)</label
          >
          <br />
          <label for="customRange2">0 - 10 clothes, step = 1</label>
          <input
            type="range"
            class="custom-range"
            min="0"
            max="10"
            step="1"
            name="clothesBuy"
          />
        </div>
        <div class="form-group">
          <label for="choose-state">Choose your state.</label>
          <select class="form-control" id="choose-state">
            <option>Andhra Pradesh</option>
            <option>Arunachal Pradesh</option>
            <option>Assam</option>
            <option name="Bihar" value="Bihar">Bihar</option>
            <option>Chattisgharh</option>
            <option>Goa</option>
            <option>Gujarat</option>
            <option>Haryana / Delhi</option>
            <option>Himachal Pradesh</option>
            <option>Jammu & Kashmir</option>
            <option>Jharkand</option>
            <option>Karnataka</option>
            <option>Kerala</option>
            <option>Madhya Pradesh</option>
            <option>Maharashtra</option>
            <option>Manipur</option>
            <option>Meghalaya</option>
            <option>Mizoram</option>
            <option>Nagaland</option>
            <option>Orissa</option>
            <option>Punjab</option>
            <option>Rajasthan</option>
            <option>Sikkim</option>
            <option>Tamil Nadu</option>
            <option>Tripura</option>
            <option>Uttar Pradesh</option>
            <option>Uttaranchal</option>
            <option>West Bengal</option>
          </select>
        </div>
        <div class="form-group">
          <label for="username">Your name</label>
          <br />
          <input class="form-control" name="username" />
        </div>
        <div class="form-group">
          <label for="username">Your email</label>
          <br />
          <input class="form-control" name="email" />
        </div>
        <div>
          <input type="submit" />
        </div>
      </form>
    </div>
  </body>
</html>
